@font-face {
  font-family: "principal";
  src: url("../fonts/Gotham-Black.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "secundaria";
  src: url("../fonts/GothamMedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "texto";
  src: url("../fonts/Helvetica.woff2") format("woff2");
  font-display: swap;
}